.body__gestion__mascota{
    font-size: 2vh;
    font-family: "OCR A Extended";
    margin: 0;
    color: white;
    box-sizing: border-box;
}

/* .screen__gestion__razas::before{
    content: "";
    background-image: url(../img/Diseños_pagina/diseño-gestion_vacuna.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 88vw;
    background-size: 100% auto;
    position: absolute;
    z-index: 5;
    opacity: .5;
    left: 0;
    right: 0;
    top: -1%;
    margin: auto;
} */
/*____________________________ ROW_WIDTH_TABLE-CONTENT ____________________________*/
.table__header-container, .table__rows-item{
    grid-template-columns: clamp(76px,20vw,25vw) clamp(60px, 15vw, 20vw) 20vw 20vw;
}
/*____________________________ ROW_WIDTH_TABLE-CONTENT ____________________________*/
/*____________________________btn-created_______________________________________*/
.box__icon-btn-add::before{
    content: 'Agregar Raza';
}
/*____________________________btn-created_______________________________________*/

.table__header-input{
    position: relative;
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(2,1fr);
}
.table__header-input-container{
    position: relative;
}
.table__header-input > .inicio::before, .table__header-input > .final::before{
    position: absolute;
    top: -70%;
    border-radius: 0.5em;
    width: 100%;
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
    padding: 0.5em 0;
    height: 0;
    overflow: hidden;
    transition: 2s ease-in-out;
    transition-property: height;
}
.table__header-input > .inicio:hover::before{
    content: "Inicial";
    opacity: 1;
    height: 1em;
    transition: .2s ease-in-out;
    transition-property: height;
}
.table__header-input > .final:hover::before{
    content: "Final";
    opacity: 1;
    height: 1em;
    transition: .2s ease-in-out;
    transition-property: height;
}
.table__rows-column{
    width: 100%;
}
.table__rows-item-column img{
    margin-top: 0;
    max-width: 4em;
    width: inherit;
    height: auto;
    margin: auto;
}


@media  (max-width:768px){
    .table__header-content:nth-child(1), .table__rows-item-column:nth-child(1){
        display: none;
    }
    .table__header-container, .table__rows-item {
        grid-template-columns: clamp(75px, 15vw, 20vw) clamp(65px, 30vw, 40vw) 35vw;
    }
}