.body__gestion__mascota{
    font-size: 2vh;
    font-family: "OCR A Extended";
    margin: 0;
    color: white;
    box-sizing: border-box;
}

/* .screen__gestion__mascota::before{
    content: "";
    background-image: url(../img/Diseños_pagina/diseño-gestion_vacuna.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 88vw;
    background-size: 100% auto;
    position: absolute;
    z-index: 5;
    opacity: .5;
    left: 0;
    right: 0;
    top: -1%;
    margin: auto;
} */
.table__header-container, .table__rows-column{
    grid-template-columns: 20% 20% clamp(57px,10%,100px) 9% auto;
}
.inputBuscar{
    border: 0;
    height: 5vh;
    min-height: 1vh;
    border-radius: 1vh;
    width: 100%;
    text-align: center;
    outline: 0 solid;
    transition: .3s ease-in-out;
    transition-property: outline;
    font-size: 1em;
}
.table__header-text{
    height: 1.3em;
}
.table__header-head{
    height: 7em;
}
.table__header-container{
    width: 100%;
}
.table__header-content{
    gap: 1vh;
}
.table__header-input{
    position: relative;
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(2,1fr);
}
.table__header-input-container{
    position: relative;
}
.table__header-input > .inicio::before, .table__header-input > .final::before{
    position: absolute;
    top: -70%;
    border-radius: 0.5em;
    width: 100%;
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
    padding: 0.5em 0;
    height: 0;
    overflow: hidden;
    transition: 2s ease-in-out;
    transition-property: height;
}
.table__header-input > .inicio:hover::before{
    content: "Inicial";
    opacity: 1;
    height: 1em;
    transition: .2s ease-in-out;
    transition-property: height;
}
.table__header-input > .final:hover::before{
    content: "Final";
    opacity: 1;
    height: 1em;
    transition: .2s ease-in-out;
    transition-property: height;
}
