@import url(https://db.onlinewebfonts.com/c/fd6fa80f1e3345834599de891cca3f4c?family=OCR+A+Extended);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400;600&display=swap');
body{
    font-size: 2vh;
    font-family: "OCR A Extended";
    margin: 0;
    color: white;
}
*{
    box-sizing: border-box;
}
.screen__gestion-vacuna{
    display: grid;
    grid-template-rows: max-content auto;
}
.header__gestion-vacuna{
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 3em;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 2em;
}
.header__icon-img img{
    width: 2.5em;
}
.header__logo-img img{
    width: 5em;
}
.header__logo-name{
    font-size: 1.5em;
}
/* .screen__gestion-vacuna::before{
    content: "";
    background-image: url(../img/Diseños_pagina/diseño-gestion_vacuna.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 88vw;
    background-size: 100% auto;
    position: absolute;
    z-index: 5;
    opacity: .5;
    left: 0;
    right: 0;
    top: -1%;
    margin: auto;
} */
.button__menu:focus-within ~ .menu__exit{
    height: 25em;
    transition: height .5s ease-in-out;
}
/* .menu__exit-form{

} */
.menu__exit-form{
    width: max-content;
    position: absolute;
    bottom: 2em;
    right: 2em;
}
.menu__option{
    display: flex;
    gap: 1em;
    align-items: center;
    background-color: #555555;
    padding: 0 1.5em;
    border-radius: .5em;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in;
    transition-property: background-color;
}
.menu__option:hover{
    background-color: #5c415d;
    transition: .2s ease-in;
    transition-property: background-color;
}
#button__exit{
    position: absolute;
    /* z-index: -1; */
    height: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
}
.menu__option-img img{
    width: 2em;
}
.menu__option-text{
    font-size: 1.5em;
}
.menu__exit-content{
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;   
    height: 20em; 
}
.menu__exit{
    border-bottom-left-radius: 1.5em;
    right: 0%;
    top: 10%;
    text-align: center;
    transition: height .5s ease-in-out;
    position: absolute;
    height: 0em;
    transition: height .5s ease-in-out;
    overflow: hidden;
    background-color: #262626;
    z-index: 5;
}
.section__content{
    background-color: #555555;
    height: 88.26vh;
}
.table{
    width: 85vw;
    margin: auto;
}
.table__title-text{
    font-size: 2.5em;
    margin: .5em 0; 
}
.table__title-message{
    background-color: green;
    display:grid;
    place-content:center;
    padding: 1em 2em;
    border-radius: .5em;
    width: 50%;
    margin: auto;
    font-family: 'Gothic A1', sans-serif;
    text-align: center;
}
.table__title{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.table__content{
    background-color: #555555;
}
.table__container{
    height: 65vh;
    width: inherit;
    position: relative;
    display: grid;
    grid-template-rows: max-content auto max-content;
}
.table__header{
    background-color: #262626;
    min-height: 8vh;
    position: relative;
    padding: .4em 1em;

}
.table__header-x:focus-within{
    height: 7em;
    transition: .2s ease-in-out;
    transition-property: height;
}
.table__header-x{
    display: grid;
    grid-template-columns: auto max-content;
    height: 3em;
    transition: .2s ease-in-out;
    transition-property: height;
}
.table__header-input{
    position: relative;
    display: none;
}
.table__header-input img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 3.5vh !important;
    z-index: 5;
    filter: brightness(100%);
}
.table__header-content{
    display: grid;
    gap: 1em;
}
.table__header{
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    width: inherit;
    top: 0;
    gap: 5em;
    overflow: hidden;
}
.table__header-container , .table__rows-column{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 5% 30% 20% 15% 14%;
    /* grid-template-columns: clamp(20px, 1vw, 40px) clamp(140px, 14%, 240px) clamp(90px, 9%, 240px) 20% clamp(63px, 15%, 240px); */
    width: 87%;
    height: 100%;
    position: relative;
    gap: 0.5em;
}

.table__rows-column{
    width: 85.5%;
}
.table__header-rows{
    display: grid;
    text-align: center;
}
/* .table__rows-column{
} */
.table__footer{
    background-color: #262626;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;
    width: inherit;
    bottom: 0;
    padding: 0em 2em;
}
.table__content{
    min-height: 5vh;
    overflow: auto;
}
.table__rows{
    min-height: 5.5vh;
    display: grid;
    align-items: center;
    position: relative;
}
.table__rows-content:nth-child(even){
    background-color: #808585;
}
.table__rows-btn-flecha img{
    width: .7em;
}
.table__rows-btn-flecha{
    display: none;
}
.table__rows-column-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* width: inherit; */
    position: relative;
    /* overflow: hidden; */
}
.table__rows-text{
    text-align: center;
    height: .7em;
}
.table__rows-text-img img{
    width: 2em;
    transform: rotatey(180deg);
}
.table__rows-text-img{
    text-align: center;
    height: .7em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.table__rows-img{
    height: 100%;
}
.table__rows-img img{
    width: inherit;
}
.inputUpdate__container{
    width: 100%;
    /* left:0;
    top: 4em;
    right:0; */
}
.table__footer-icon img, .table__header-icon img{
    width: 3em;
}
.table__footer-icon{
    display: flex;
    align-items: center;
    gap: 2em;
    margin: .5em;
}
.table__footer-filter{
    background-color: #555555;
    padding: 1em;
    border-radius: 50%;
    margin-right: 5%;
    display: grid;
    place-content: center;
}
.table__header-icon{
    position: relative;
    margin: auto;
    display: grid;
    gap: 1.5vh;
    justify-items: center;
    align-content: start;
    height: 7em;
    margin-top: .5vh;
}
.table__rows-icon-row{
   display: flex;
   align-items: center;
   gap: 3vh;
}
.table__rows-btn{
    display: flex;
    gap: 1.5em;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}
.table__rows-btn-img{
    display: flex;
    align-items: center;
}
.table__rows-btn-img img{
    position: relative;
    z-index: 2;
}
.btnSubmit{
    display: none;
    margin: auto;
    z-index: 4;
    height: 4.5vh;
    width: 4.5vh;
    border-radius: 1vh;
    border: 0;
    opacity: 0;
    cursor: pointer;
}
.btnSubmitAgregar{
    display: none;
    /* position: absolute; */
    /* margin: auto; */
    z-index: 4;
    height: 5vh;
    width: 5vh;
    top: 109%;
    border: 0;
    border-radius: .5em;
    /* opacity: 0; */
    cursor: pointer;
    color: black;
    background-color: black;
}
.labelSubmit{
    display: none;
    margin: auto;
    z-index: 3;
    height: 2.2em;
    width: 2.2em;
    border-radius: 1em;
    border: 0;
    position: relative;
    place-content: center;
    user-select: none;
}
.btnFlecha{
    display: none;
}
.btnFlecha-img{
    width: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.btnSubmit-img{
    width: inherit;
    /* position: absolute; */
    top: .13em;
}
.inputUpdateView{
    display: grid;
}

.expan_btn::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1em;
    width: 200%;
    margin: auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: #262626;
    z-index: 1;
    transform: scale(0);
    animation: expan_btn-scale 1s forwards;
}
.screenDelete{
    overflow: hidden;
    display: none;
    position: relative;
    width: 0;
}
.btnDelete_img{
    height: 81%;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    margin: auto;
}
.btnDelete_input{
    margin: auto;
    z-index: 4;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 3em;
    border: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}
.screenDelete_btn{
    aspect-ratio: 1/1;
    height: 100%;
    width: max-content;
    display: flex;
    position: absolute;
    right: 1%;
}
.screenDelete_text{

margin: 0;

font-size: 1.3em;
}
.expan_delete {
    display: flex;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: rgba(255, 0, 0, 0.9);
    border-bottom: .1vh solid black;
    height: 100%;
    /* width: 100%; */
    left: 0em;
    transition: .2s ease-in-out;
}
#btnUpdate{
    position: relative;
}
#btnDelete{
    position: relative;
}
.table__rows-icon{
    display: flex;
    gap: 3em;
    align-items: center;
    position: absolute;
    right: 3em;
}
.table__rows-content{
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    height: 3.5em;
    overflow: hidden;
    transition: .2s ease-in;
    transition-property: height;
    position: relative;
    gap: 1.2em;
}
.expan_row{
    height: 7.5em !important;
    transition: .2s ease-in;
    transition-property: height;
    background-color: #5c415d !important;
}
.inputUpdate, .inputAgregar{
    border: 0;
    height: 5vh;
    min-height: 1vh;
    border-radius: 1vh;
    width: 100%;
    text-align: center;
    outline: 0 solid;
    transition: .3s ease-in-out;
    transition-property: outline;
    font-size: 1em;
}
/* .inputAgregar{
    
} */
select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
.inputUpdate:focus{
    outline: .5vh solid #32a1ce;
    transition: .3s ease-in-out;
    transition-property: outline;
}
.table__rows-btn-img{
    user-select: none;
    cursor: pointer;
}
.table__rows-btn-img img{
    width: 1.9em;
}

.table__content::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table__content::-webkit-scrollbar:vertical {
    width:1.5em;
}

.table__content::-webkit-scrollbar-button:increment,.table__content::-webkit-scrollbar-button {
    display: none;
} 

.table__content::-webkit-scrollbar:horizontal {
    height: 1em;
}

.table__content::-webkit-scrollbar-thumb {
    background-color: #5c415d;
    border-radius: 1em;
    border: .3em solid #262626;
}

.table__content::-webkit-scrollbar-track {
   background-color: #262626;
}

@media (max-width: 768px){
    .table{
        width: 100%;
    }
    .table__header-container, .table__rows-column{
        grid-template-columns: 40% 25% 25%;
    }
    .table__header-content:last-child{
        display: none;
    }
    .table__header-content:first-child{
        display: none;
    }
    .table__rows-column-container:last-child{
        display: none;
    }
    .table__rows-column-container:first-child{
        display: none;
    }
    .table__rows-content{
        padding: 0em 1em;
    }
    .table__header{
        padding: .4em 1em;
    }
    .table__rows-btn-flecha{
        display: grid;
    }
    .table__rows-btn{
        position: absolute;
        right: -6.5em;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: brown;
        padding: 0 1em 0 1em;
        border-radius: 4em;
        margin: auto;
        height: 3.3em;
        transition: .2s ease-in-out;
        transition-property: right;
        transition-delay: .5s;
    }
    .table__rows-btn:hover{
        right: 0em;
        transition: .2s ease-in-out;
        transition-property: right;
    }
    .table__rows-content:nth-child(even) > .table__rows-btn{
        background-color: #555555;
    }
    .table__rows-content:nth-child(odd) > .table__rows-btn{
        background-color: #808585;
    }
    .table__header-container {
        width: 93%;
    }
    .table__rows-column{
        width: 90%;
    }
    .table__rows-btn_color{
        background-color: #e94f37 !important;
        right: -8em;
    }
    .table__rows-content{
        height: 4.5em;
    }
    .table__rows-text{
        height: 1.5em;
    }
    .table__rows-text-img{
        height: 1.5em;
    }
    .table__title-message{
        width: 100%;
    }
    .btnFlecha{
        display: grid;
        position: relative;
        height: 1em;
        width: 1em;
    }
    .header__logo{
        gap: 1em;
    }
    .header__gestion-vacuna{
        padding: 0.5em 1.5em;
    }
}

@keyframes expan_btn-scale {
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
}