.body__gestion__mis__mascota{
    font-size: 2vh;
    font-family: "OCR A Extended";
    margin: 0;
    color: white;
    box-sizing: border-box;
    background-color: #555555;
}
img{
    aspect-ratio: 1/1;
    width: inherit;
}
.user_select_none{
    user-select: none;
}
.cursor_pointer{
    cursor: pointer;
}
/* .screen__gestion__mascota::before{
    content: "";
    background-image: url(../img/Diseños_pagina/diseño-mascotas-usuario.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 88vw;
    background-size: 100% auto;
    position: absolute;
    z-index: 5;
    opacity: .5;
    left: 0;
    right: 0;
    top: -1%;

} */
/* .box__container{
    height: max-content;
    width: 25%;
    display: grid;
    gap: 20vh;
    padding: 1em;
} */
.screen__gestion__mascota, .section__content{
    display: grid;
    grid-template-rows: max-content max-content;
    /* gap:1em; */
}
.section__content{
    overflow-y: auto;
    /* position: relative; */
}
.box__icon-btn-add-container{
    position: absolute;
    right: 0%;
}
.box__icon-btn-add{
    position: relative;
}
.box__icon-btn-add img{
    background-color: #555555;
    position: relative;
    z-index: 4;
}
.box__icon-btn-add::before{
    position: absolute;
    font-size: 1.2em;
    margin: 0;
    opacity: 0;
    right: 0em;
    width: max-content;
    transition-timing-function: ease-in-out;
    transition-property: right , opacity;
    transition-duration: 400ms;
    background-color: #262626;
    padding: 0;
    border-radius: 1em;
    transition-property: opacity;
    content: "Agregar Mascotas";
    overflow: hidden;
    width: 0;
}

.box__icon-btn-add:hover::before{
    opacity: 1;
    z-index: 4;
    right: 3em;
    padding: 1em 1em;
    width: 10em;
    transition-timing-function: ease-in-out;
    transition-property: right , opacity;
    transition-duration: 400ms;
}
.section__content{
    padding: 0 2em;
}
.box__container{
    transition: 300ms;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
    gap: 1em;
    justify-content: center;
}
.box__pet{
    display: grid;
    gap: .8em;
    background-color: #262626;
    position: relative;
}
.box__pet-container{
    display: grid;
    gap: .8em;
    position: relative;
    background-color: #262626;
    height: 20em;
    grid-template-rows: max-content auto max-content;
    /* width: 25%; */
    padding: .8em;
    position: relative;
}
.box__pet-container, .box__info, .box__vacunas, .box__content,.box__pet{
    border-radius: 1em;
}
.box__icon-pet{
    /* background-color: #5c415d; */
    border-radius: 50%;
    padding: 1em;
}

.box__icon img{
    height: 3em;
}
.box__info, .box__vacunas, .box__content{
    background-color: #555555;
    padding: .5em 1em;
}
.box__vacunas-container{
    display: grid;
    gap: .5em;
}
.box__vacunas{
    padding: .5em;
}
.box__info, .box__item{
    display: flex;
    gap: .4em;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.box__item{
    justify-content: start;
    gap: 1em;
}
.box__icon-btn{
    width: 2em;
}
.box__icon-btn-container{
    display: flex;
    gap: 1em;
    align-items: center;
    position: relative;
}
.box__content {
    background-color: #262626;
    height: max-content;
}
.box__vacunas{
    display: grid;
    gap: 1em;
    grid-template-rows: max-content;
    height: 7.74em;
    overflow: hidden;
    border: 0.3em solid #555555;
}
.box__text{
    height: inherit;
}
.box__text-title{
    font-size: 1.2em;
}
.box__item > .box__text{
    display: flex;
    align-items: center;
    column-gap: 2em;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.box__item > .box__text p{
    margin: 0 0 .3em 0;
}
.box__text-name > p.box__text-title, .box__text-name > p.box__text-date{
    margin: 0 0 .3em 0;
    position: relative;
    top: -.5em;
}

.box__icon-default{
    margin: auto;
    text-align: center;
}
.box__icon, .box__icon-pet, .box__icon-btn{
    user-select: none;
}

/* .box__pet-container:focus-within{
    position: absolute;
    z-index: 5;
    height: 30em;
    width: 100%;
    transition:  300ms ease-in-out;    
    transition-property: height;
    border: .1em solid white;
} */
.box__pet-focus:focus-within{
    position: absolute;
    z-index: 5;
    height: 30em;
    width: 100%;
    transition:  300ms ease-in-out;    
    transition-property: height;
    border: .1em solid white;
}

.box__pet:has(.box__pet-focus:focus-within)::before{
    content: "";
    width: 100%;
    height: 17em;
}
.box__pet-focus:focus-within > .box__vacunas {
    height: 100%;
    overflow-y: scroll;
}
.btn__expan{
    margin: auto;
    transform: rotate(0deg);
    transition: .2s ease;
    background-color: rgba(0, 0, 0, 0);
    transition: .2s ease;
    transition-property: background-color;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    border-radius: 5em;
    cursor: pointer;
}
.btn__expan:hover{
    transition: .2s ease;
    transition-property: background-color;
    background-color: #5c415d;
}
.btn__expan-btn-rotate{
    transform: rotate(180deg);
    transition: .2s ease;
    transition-property: transform;
}
.btn__expan img {
    height: .8em;
    aspect-ratio: 82/49;
    filter: drop-shadow(0 0 .4em #555555);

    width: 1.5em;
    transition: .2s ease;
    transition-property: transform;
}
.expan_box{
    grid-row: 1 / span 2;
    height: 100%;
}
.expan_box_content{
    height: 23em;
}
.box__text-input{
    display: none;
}
.box__info-input{
    position: relative;
    display: none;
    position: relative;
    width: 2.4em;
}
.btnSubmitAgregar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.UpdatePetInfo{
    z-index: 5;
    text-align: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 40vh;
    margin: auto;
    animation-name: UpdatePetInfo;
    animation-delay: 100ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    overflow: hidden;
    animation-timing-function: ease-in-out;
    & .box__text-name > p.box__text-title, .box__text-name > p.box__text-date{
        margin: 1em;
        margin-bottom: 0;
    }
    & .box__text-input{
        display: flex;
    }
}
.UpdatePetInfo_Out{
    animation-name: UpdatePetInfoOut;
    animation-delay: 100ms;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    animation-timing-function: ease-in-out;
}
.UpdatePetText{
    margin: 1em;
    margin-bottom: 0;
}
/*____________________________ SCROLL_CONTENT ____________________________*/
/*__ gestion-vacunas.php __ gestion-razas.php __ gestion-mascotas.php __*/
.Scroll__container::-webkit-scrollbar {
    -webkit-appearance: none;
}
.Scroll__container::-webkit-scrollbar:vertical {
    width:1em;
}
.Scroll__container::-webkit-scrollbar-button:increment,.box__vacunas::-webkit-scrollbar-button {
    display: none;
} 
.Scroll__container::-webkit-scrollbar:horizontal {
    height: 1em;
}
.Scroll__container::-webkit-scrollbar-thumb {
    background-color: #5c415d;
    border-radius: 1em;
    border: .1em solid #262626;
}
.Scroll__container::-webkit-scrollbar-track {
   background-color: #555555;
   border-top-right-radius: 5em;
   border-bottom-right-radius: 5em;
}
.modal__container{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 10;
    margin: auto;
}
.modal__created{
    width: 50%;
    min-width: 300px;
    margin: auto;
}
.modal__header{
    background-color: rgba(68, 68, 68, 1);
    text-align: center;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    display: grid;
    grid-template-columns: 80% max-content;
    position: relative;
    font-size: 1.5em;
    overflow: hidden;
    &.modal__title{
        text-align: center;
    }
}
.modal__close{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 10vh;
    background-color: #262626;
    display: grid;
    font-size: 1em;
    place-content: center;
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: background-color, font-size;
    transition-timing-function: ease-in-out;
}
.modal__close:hover{
    background-color: red;
    font-size: 1.5em;
    transition-duration: 200ms;
    transition-property: background-color, font-size;
    transition-timing-function: ease-in-out;
}
.modal__content{
    padding: 1em;
    padding-bottom: 2em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: #262626;
}
.modal__form{
    display: grid;
    gap: 1em;
}
.form__item{
    display: grid;
    gap: 1em;
}
.form__item__btn{
    margin: auto;
}
/*_________________ SCROLL_SELECT _________________*/

/*_________________ SCROLL_SELECT _________________*/
/*____________________________ SCROLL_TABLE_CONTENT ____________________________*/
/*____________________________ ROW_WIDTH_TABLE-CONTENT ____________________________*/

/*____________________________ ROW_WIDTH_TABLE-CONTENT ____________________________*/
@keyframes UpdatePetInfo {
    0%{
        height: 17vh;
        padding: 0.5em 1em;
    }
    50%{
        padding: 0em 1em;
        height: 0vh;
    }
    75%{
        position: absolute;
        transform: scale(0);
    }
    100%{
        flex-direction: column;
        border: 0.2em solid;
        padding: 0.5em 1em;
        position: absolute;
        transform: scale(1);
    }
}
@keyframes UpdatePetInfoOut {
    100%{
        padding: 0.5em 1em;
    }
    75%{
        padding: 0em 1em;
        height: 0vh;
    }
    50%{
        position: absolute;
        transform: scale(0);
    }
    0%{
        z-index: 5;
        text-align: center;
        left: 0;
        right: 0;
        width: 100%;
        height: 34vh;
        margin: auto;
        flex-direction: column;
        border: 0.2em solid;
        padding: 0.5em 1em;
        position: absolute;
        transform: scale(1);
    }
}
@media (max-width:768px){
    .box__icon-btn-add-container {
        right: 5%;
    }
    .modal__created{
        width: 100%;
    }
    .modal__header{
        font-size: 1em;
    }
    .modal__close{
        background-color: red;
    }
    /* .modal__header{
        grid-template-columns: 70% max-content;
    } */
}