@import url(https://db.onlinewebfonts.com/c/fd6fa80f1e3345834599de891cca3f4c?family=OCR+A+Extended);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400;600&display=swap');
body{
    font-size: 2vh;
    font-family: "OCR A Extended";
    margin: 0;
    color: white;
}
*{
    box-sizing: border-box;
}
.screen__gestion-vacuna{
    display: grid;
    grid-template-rows: max-content auto;
}
/*______________________________ HEADER ______________________________*/

/*______________________________ HEADER ______________________________*/

.btnSubmit{
    display: none;
    margin: auto;
    z-index: 4;
    height: 4.5vh;
    width: 4.5vh;
    border-radius: 1vh;
    border: 0;
    opacity: 0;
    cursor: pointer;
}
.btnSubmitAgregar{
    display: none;
    margin: auto;
    z-index: 5;
    height: 5vh;
    width: 5vh;
    border: 0;
    border-radius: .5em;
    opacity: 0;
    cursor: pointer;
}
.labelSubmit{
    display: none;
    margin: auto;
    z-index: 3;
    height: 2.2em;
    width: 2.2em;
    border-radius: 1em;
    border: 0;
    position: relative;
    place-content: center;
    user-select: none;
}
.btnFlecha{
    display: none;
}
.btnFlecha-img{
    width: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.btnSubmit-img{
    width: inherit;
    position: absolute;
    top: .13em;
    margin: auto;
}
.btnSubmit_img{
    width: inherit;
}
.inputUpdateView{
    display: grid;
}



.btnExit_img, .btnDelete_img{
    margin: auto;
    height: 81%;
    max-height: 5vh;
    max-height: 5vh;
    cursor: pointer;
}
.btnDelete_img{
    cursor: pointer;
}
.btnDelete_input{
    margin: auto;
    z-index: 4;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 3em;
    border: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 5vh;
}
.expan_delete {
    display: flex;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: rgba(255, 0, 0, 0.9);
    border-bottom: .1vh solid black;
    height: 100%;
    /* width: 100%; */
    left: 0em;
    transition: .2s ease-in-out;
}
#btnUpdate{
    position: relative;
}
#btnDelete{
    position: relative;
}
.table__rows-icon{
    display: flex;
    gap: 3em;
    align-items: center;
    position: absolute;
    right: 3em;
}
.table__rows-item-btn{
    height: 100%;
}
.table__rows-item-btn img{
    width: inherit;
}
.table__rows-img{
    height: 100%;
}
.table__rows-img img{
    width: inherit;
}
.table__rows-btn{
    display: flex;
    gap: 1.5em;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    height: 100%;
}
.table__rows-btn-img{
    display: flex;
    align-items: center;
}
.table__rows-btn-img img{
    position: relative;
    z-index: 2;
}
.table__rows-btn-img{
    user-select: none;
    cursor: pointer;
}
.table__rows-btn-img img{
    width: 1.9em;
}
/* ____________________________ ROWS_WIDTHS_TABLE ____________________________*/
.table__header-container,.table__rows-item{
    grid-template-columns: 8% 30% 20% 15% 14%;
}

.table__rows-column{
    width: 87%;
}
.table__header-container{
    width: 88.6%;
}
/* ____________________________ ROWS_WIDTHS_TABLE ____________________________*/
@media (max-width:768px){
    .table__rows-column{
        width: 90%;
    }
    .table__header-container{
        width: 96.3%;
    }
    /*___________________________ CONTENT_TABLE_HIDE ___________________________*/
    .table__rows-item-column:last-child{
        display: none;
    }
    .table__rows-item-column:first-child{
        display: none;
    }
    /*___________________________ CONTENT_TABLE_HIDE ___________________________*/
    /*____________________________ HEADER_TABLE_HIDE ____________________________*/
    .table__header-content:last-child{
        display: none;
    }
    .table__header-content:first-child{
        display: none;
    }
    /*____________________________ HEADER_TABLE_HIDE ____________________________*/
    /*____________________________ ROWS_WIDTHS_TABLE ____________________________*/
    .table__header-container, .table__rows-column{
        grid-template-columns: 40% 30% 25%;
    }
    .table__rows-item{
        grid-template-columns: 40% 30% 25%;
    }
    /*____________________________ ROWS_WIDTHS_TABLE ____________________________*/
    .table__rows-btn-flecha{
        display: grid;
    }
    .table__header-text{
        font-size: 1em;
    }
    .table__rows-item-btn{
        position: absolute;
        right: -8em;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 2.7em;
        transition: .2s ease-in-out;
        transition-property: right;
        transition-delay: .5s;
    }
    .table__rows-btn{
        padding: 0 1em 0 1em;
        border-radius: 4em;
    }
    .table__rows-item-btn:hover{
        right: 1.5em;
        transition: .2s ease-in-out;
        transition-property: right;
    }
    .table__rows-btn_color{
        background-color: #d137e9 !important;
    }
    .btnFlecha{
        display: grid;
        position: relative;
        height: 1em;
        width: 1em;
    }

    .table__rows-container:nth-child(even) > .table__rows-content > .table__rows-item-btn > .table__rows-btn{
        background-color: #555555;
    }
    .table__rows-container:nth-child(odd) > .table__rows-content > .table__rows-item-btn .table__rows-btn{
        background-color: #808585;
    }

}

