@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400;600&display=swap');
.x{
    font-family: "OCR A Extended";
}
@import url(https://db.onlinewebfonts.com/c/fd6fa80f1e3345834599de891cca3f4c?family=OCR+A+Extended);
.x{
    font-family: 'Gothic A1', sans-serif;
}

#inputCrud{
    position: relative;
    z-index: -1;
    height: 0;
    width: 0;
    opacity: 0;
    
}