*{
    box-sizing: border-box;
}
body{
    background-color: #555555;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*__________________________ STYLE_INPUT __________________________*/
/*__ gestion-vacunas.php __ gestion-razas.php __ gestion-mascotas.php __ login.php __ register.php __*/
input[type='text'], select,input[type='number'],input[type='date']{
    border: 0;
    height: 5vh;
    min-height: 1vh;
    border-radius: 1vh;
    width: 100%;
    text-align: center;
    outline: 0 solid;
    transition: .3s ease-in-out;
    transition-property: outline;
    font-size: 1em;
}
select{
    background: -webkit-linear-gradient(#FAFAFA, #d4d4d4 40%, #b8b7b7);
}
input[type='text']:focus, select:focus,input[type='number']:focus,input[type='date']:focus{
    outline: .4vh solid #32a1ce;
    transition: .3s ease-in-out;
    transition-property: outline;
}
/* select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
} */
select::-ms-expand {
    display: none;
}
/*__________________________ STYLE_INPUT __________________________*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*__________________________ LAYOUT_TABLE __________________________*/
.section__content{
    background-color: #555555;
    height: 85.26vh;
}
.table{
    width: 85vw;
    margin: auto;
}
.table__title-text{
    font-size: 2.5em;
    margin: .5em 0; 
}
.table__title__message, .table__title__message__error{
    background-color: green;
    display:grid;
    place-content:center;
    padding: 1em 2em;
    border-radius: .5em;
    width: 50%;
    margin: auto;
    font-family: 'Gothic A1', sans-serif;
    text-align: center;
    font-weight: 900;
}
.table__title__message__error{
    background-color: red !important;
}
.table__title{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}
.table__content{
    background-color: #555555;
}
.table__container{
    height: 70vh;
    width: inherit;
    position: relative;
    display: grid;
    grid-template-rows: max-content auto max-content;
}
/*__________________________ LAYOUT_TABLE __________________________*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*____________________________ HEADER_TABLE ____________________________*/
.table__header{
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    width: inherit;
    top: 0;
    overflow: hidden;
    background-color: #262626;
    min-height: 5vh;
    position: relative;
    padding: 0em 1.5em;
}
.table__header-head:focus-within{
    height: 9em;
    transition: .2s ease-in-out;
    transition-property: height;
}
.table__header-head, .table__rows-container{
    display: flex;
    height: 3em;
    transition: .2s ease-in-out;
    transition-property: height;
    
}
.table__rows-container{
    padding: 0em 1.5em;
}
.table__rows-content{
    display: flex;
    width: 100%;
    position: relative;
}

.table__header-content, .table__rows-item-column{
    display: flex;
    flex-direction: column;
}

.table__header-text{
    display: grid;
    text-align: center;
    height: 2em;
    font-size: 1.3em;
    margin-top: .5em;
    align-items: center;
}
.table__header-text{
    display: flex;
    gap: 0.4em;
    flex-wrap: wrap;
    justify-content: center;
}
/* .table__rows-img{
    height: 1.5em;
} */
/*____________________________ HEADER_TABLE ____________________________*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*____________________________ ROWS_CONTENT_TABLE ____________________________*/
.table__rows-text{
    display: grid;
    text-align: center;
    height: 3.5em;
    font-size: 1em;
    margin-top: 0em;
    align-items: center;
}
.table__rows-img{
    display: grid;
    height: 2em;
    margin-top: .5em;
}
.table__rows{
    min-height: 5.5vh;
    display: grid;
    align-items: center;
    position: relative;
}
.table__rows-container{
    overflow: hidden;
    transition: .2s ease-in-out;
    transition-property: height;
    position: relative;
}
.table__rows-container:nth-child(even){
    background-color: #808585;
}
.table__rows-btn-flecha img{
    width: .7em;
}
.table__rows-btn-flecha{
    display: none;
}
.table__rows-column-pets{
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    /* overflow: hidden; */
}

.table__rows-text-img img{
    width: 2em;
    transform: rotatey(180deg);
}
.table__rows-text-img{
    text-align: center;
    height: .7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*____________________________ ROWS_CONTENT_TABLE ____________________________*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*____________________________ ROWS_DISPLAY_TABLE ____________________________*/
/*__ gestion-vacunas.php __ gestion-razas.php __ gestion-mascotas.php __*/
/* .table__rows-content{
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    width: 100%;
    height: 3.5em;
    overflow: hidden;
    transition: .2s ease-in;
    transition-property: height;
    position: relative;
    gap: 1.2em;
} */
/* .table__rows-column{
    width: 85.5%;
} */
.table__header-container,.table__rows-item{ /*__ GOLABLAS __*/
    display: grid;
    height: 100%;
    width: 100%;
    position: relative;
    gap: 0.5em;
}

/*_____________________ SCREEB_DELETE_ROWS _____________________*/
/*__ gestion-vacunas.php __*/
.screenDelete{
    overflow: hidden;
    display: none;
    position: relative;
    width: 0;
}
.screenDelete_btn{
    display: flex;
    gap: 1em;
    height: 100%;
    width: max-content;
    display: flex;
    position: absolute;
    right: 5%;
}
.screenDelete_text{
    margin: 0;
    font-size: 1.3em;
}
/*_____________________ SCREEB_DELETE_ROWS _____________________*/

/*____________________________ ROWS_DISPLAY_TABLE ____________________________*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*_____________________ LAYOUT_BUTON_SUBMIT _____________________*/
/*__ gestion-vacunas.php __*/
.table__header-input{
    position: relative;
    display: none;
}
.table__header-input img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 5vh !important;
    border-radius: .5em;
    z-index: 4;
    background-color: #5c415d;
    padding: .5vh;
}
/*_____________________ LAYOUT_BUTON_SUBMIT _____________________*/
/*----------------------------------------------------------------------------------------------------------------------*/
.table__content{
    min-height: 5vh;
    overflow: auto;
}

.inputUpdate__container{
    width: 100%;
    /* left:0;
    top: 4em;
    right:0; */
}
.table__footer-icon img, .table__header-icon img{
    width: 3em;
}
.table__footer-icon{
    display: flex;
    align-items: center;
    gap: 2em;
    margin: .5em;
}
.table__footer-filter{
    background-color: #555555;
    padding: 1em;
    border-radius: 50%;
    margin-right: 2%;
    display: grid;
    place-content: center;
    cursor: pointer;
}
/* .table__footer-margin{
    margin-right: 2%;
} */
.btn__footer{
    display: flex;
    gap: .2em;
    margin-right: 1em;
}
.table__header-icon{
    position: relative;
    margin: auto;
    display: grid;
    gap: 1.5vh;
    justify-items: center;
    align-content: start;
    margin-top: 0.7em;
}
.table__rows-icon-row{
   display: flex;
   align-items: center;
   gap: 3vh;
}

/*____________________________ SCROLL_TABLE_CONTENT ____________________________*/
/*__ gestion-vacunas.php __ gestion-razas.php __ gestion-mascotas.php __*/
.table__content::-webkit-scrollbar {
    -webkit-appearance: none;
}
.table__content::-webkit-scrollbar:vertical {
    width:1.5em;
}
.table__content::-webkit-scrollbar-button:increment,.table__content::-webkit-scrollbar-button {
    display: none;
} 
.table__content::-webkit-scrollbar:horizontal {
    height: 1em;
}
.table__content::-webkit-scrollbar-thumb {
    background-color: #5c415d;
    border-radius: 1em;
    border: .3em solid #262626;
}
.table__content::-webkit-scrollbar-track {
   background-color: #262626;
}
/*_________________ SCROLL_SELECT _________________*/

/*_________________ SCROLL_SELECT _________________*/
/*____________________________ SCROLL_TABLE_CONTENT ____________________________*/
.table__footer, .table__footer-content{
    background-color: #262626;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;
    width: inherit;
    bottom: 0;
    padding-left: 1%;
    position: relative;
}
/*___________________________ CLASS_JS ___________________________*/
/*__ gestion-vacunas.php __ gestion-razas.php __ gestion-mascotas.php __*/
.expan_row{
    height: 8.5em !important;
    transition: .2s ease-in;
    transition-property: height;
    background-color: #5c415d !important;
}
.expan_btn::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1em;
    width: 200%;
    margin: auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: #262626;
    z-index: 1;
    transform: scale(0);
    animation: expan_btn-scale 1s forwards;
}
@keyframes expan_btn-scale {
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
}
/*___________________________ CLASS_JS ___________________________*/
@media  (max-width:900px){
    .table {
        width: 98vw;
        margin: auto;
    }
}
@media  (max-width:768px){
    .table{
        width: 100%;
    }
    .table__title{
        gap: 0em;
    }
    /*____________________________ ROWS_COLOR_TABLE ____________________________*/

    /*____________________________ ROWS_COLOR_TABLE ____________________________*/
    
    .table__rows-container{
        height: 4.5em;
    }
    .table__rows-text{
        height: 4.5em;
    }
    .table__rows-text-img{
        height: 1.5em;
    }
    .table__title__message, .table__title__message__error{
        width: 100%;
    }
    .table__title-text {
        font-size: 2em;
        margin: 0.5em 0;
    }
    .table__rows-item {
        grid-template-columns: 40% 20% auto;
    }
}
@media  (max-width:468px){
    .screenDelete_text{
        display: none;
    }
    .table__header, .table__rows-container{
        padding: 0;
    }

    
}
@media  (max-width:380px){
    .textExtra{
        display: none;
    }
}