:root{

/* CSS HEX */
--yellow: #fffc31ff;
--english-violet: #5c415dff;
--ivory: #f6f7ebff;
--cinnabar: #e94f37ff;
--onyx: #393e41ff;

/* CSS HSL */
--yellow: hsla(59, 100%, 60%, 1);
--english-violet: hsla(298, 18%, 31%, 1);
--ivory: hsla(65, 43%, 95%, 1);
--cinnabar: hsla(8, 80%, 56%, 1);
--onyx: hsla(203, 7%, 24%, 1);

/* CSS RGB */
--yellow: rgba(255, 252, 49, 1);
--english-violet: rgba(92, 65, 93, 1);
--ivory: rgba(246, 247, 235, 1);
--cinnabar: rgba(233, 79, 55, 1);
--onyx: rgba(57, 62, 65, 1);

/* CSS Gradient */
--gradient-top: linear-gradient(0deg, #fffc31ff, #5c415dff, #f6f7ebff, #e94f37ff, #393e41ff);
--gradient-right: linear-gradient(90deg, #fffc31ff, #5c415dff, #f6f7ebff, #e94f37ff, #393e41ff);
--gradient-bottom: linear-gradient(180deg, #fffc31ff, #5c415dff, #f6f7ebff, #e94f37ff, #393e41ff);
--gradient-left: linear-gradient(270deg, #fffc31ff, #5c415dff, #f6f7ebff, #e94f37ff, #393e41ff);
--gradient-top-right: linear-gradient(45deg, #fffc31ff, #5c415dff, #f6f7ebff, #e94f37ff, #393e41ff);
--gradient-bottom-right: linear-gradient(135deg, #fffc31ff, #5c415dff, #f6f7ebff, #e94f37ff, #393e41ff);
--gradient-top-left: linear-gradient(225deg, #fffc31ff, #5c415dff, #f6f7ebff, #e94f37ff, #393e41ff);
--gradient-bottom-left: linear-gradient(315deg, #fffc31ff, #5c415dff, #f6f7ebff, #e94f37ff, #393e41ff);
--gradient-radial: radial-gradient(#fffc31ff, #5c415dff, #f6f7ebff, #e94f37ff, #393e41ff);
}
/* .gradient-top{
    background: var(--gradient-top);
}
.gradient-right{
    background: var(--gradient-right);
}
.gradient-bottom{
    background: var(--gradient-bottom);
}
.gradient-left{
    background: var(--gradient-left);
}
.gradient-top-right{
    background: var(--gradient-top-right);
}
.gradient-bottom-right{
    background: var(--gradient-bottom-right);
}
.gradient-top-left{
    background: var(--gradient-top-left);
}
.gradient-bottom-left{
    background: var(--gradient-bottom-left);
}
.gradient-radial{
    background: var(--gradient-radial);
}
.conico-gradient{
    background: conic-gradient(
    var(--ivory),
    var(--cinnabar),
    var(--onyx),
    var(--english-violet),
    var(--yellow));    
}
div{
    width: 100%;
    height: 10vh;
    margin: 1vw 0;
} */